
<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <form class="form" method="post">
        <div class="form-group">
          <label for="NameTextField">Survey Title</label>
          <input type="text" class="form-control"
          id="nameTextField"
          placeholder="Enter the Survey Title"
          name="name" required>
        </div>

        <div class="form-group">
          <label for="descriptionTextField">Description</label>
          <input type="texterea" class="form-control"
          id="descriptionTextField"
          placeholder="Enter the description of the Surevey"
          name="description" required>
      </div>

      <div class="form-group">
        <label for="numberofMCQuestionsTextField">Number of Questions with Multiple correct answers</label>
        <input type="text" class="form-control"
        id="numberMCQTextField"
        placeholder="Enter the number of questions that will have more than one correct answer"
        name="numberMCQuestions" required>
        </div>

        <div class="form-group">
          <label for="numberofSCQuestionsTextField">Number of Questions with Single correct answers</label>
          <input type="text" class="form-control"
          id="numberSCQTextField"
          placeholder="Enter the number of questions that will have only one correct answer"
          name="numberSCQuestions" required>
        </div>

        <div class="form-group">
          <label for="numberofAnswersTextField">Number of Answers per Question</label>
          <input type="text" class="form-control"
          id="numberAnswersTextField"
          placeholder="Enter the number of answers that will be provided per question"
          name="numberAnswers" required>
        </div>
        

        <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
        <a href="/index" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
</div>

    <%- include('../partials/bottom_nav.ejs') %>
    <%- include('../partials/footer.ejs') %>

