<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

<div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
        <form class="form" method="post">
          <div class="form-group">
            <label for="NameTextField">Add Question</label>
            
            <label for="answerType">Answer Type:</label><br />
            <!-- Add an id to each radio button -->
            <input type="radio" id="single" name="answerType" value="single" />
            <label for="single">Single Correct Answer (Radio Buttons)</label><br />
            <input type="radio" id="multiple" name="answerType" value="multiple" />
            <label for="multiple">Multiple Correct Answers (Checkboxes)</label><br />
            <br />
            <!-- Add a hidden input element for QuestionType -->
            <input type="hidden" id="QuestionType" name="QuestionType" />
            <!-- Add a hidden input element for NumberOfQuestions -->
            <input type="hidden" name="NumberOfQuestions" value="1" />
            <div id="questions">
              <div class="question">
                <!-- Changed input to textarea and added name attribute -->
                <label for="question1">Question 1:</label><br />
                <textarea id="question1" name="Questions[0][Question]"></textarea><br />
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
                <div id="answers">
                  <div class="answer">
                    <!-- Changed name attribute -->
                    <label for="answer1"> Answer 1:</label><br />
                    <input type="text" id="answer1" name="Questions[0][Answer][0]" /><br />
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                  </div>
                  <div class="answer">
                    <!-- Changed name attribute -->
                    <label for="answer2">Answer 2:</label><br />
                    <input type="text" id="answer2" name=""Questions[0][Answer][1]" /><br />
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <button id="addAnswer">Add Answer</button><br />
            <br />
          </div>
  
          <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
          <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
        </form>
      </div>
    </div>
  </div>
  


<%- include('../partials/bottom_nav.ejs') %>
<%- include('../partials/footer.ejs') %>
