
<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

    <!-- surveyList.ejs -->

<!-- surveyList.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Survey List</title>
</head>
<body>
  <h1>Survey List</h1>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Number of Questions</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if (surveys.length === 0) { %>
        <tr>
          <td colspan="3">No surveys available.</td>
        </tr>
      <% } else { %>
        <% surveys.forEach(function(survey) { %>
          <tr>
            <td><%= survey.title %></td>
            <td><%= survey.questions.length %></td>
            <td class="text-center col-1">
              <a href="/edit/<%= survey._id %>" class="btn btn-primary">
              <i class="fa-solid fa-square-poll-horizontal"> Edit</i></a>
            </td>
            <td class="text-center col-1">
              <a href="/delete/<%= survey._id %>" class="btn btn-danger sm">
                <i class="fa fa-trash"> Delete</i></a>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>

  <a href="/details" class="btn btn-primary">
    <i class="fa-solid fa-plus"> Add Survey</i></a>
</body>
</html>


    <%- include('../partials/bottom_nav.ejs') %>
    <%- include('../partials/footer.ejs') %>