
<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Surveys</h3>
         
          <a href="/details" class="btn btn-primary"><i class="fa fa-plus"></i> Add a Survey</a>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
          
                <tr class="d-flex">
                  <th class="text-center col-2">Title</th>
                  <th class="text-center col-4">Description</th>
                  <!-- <th class="text-center col-1">Multiple Choice</th>
                  <th class="text-center col-1">Single Choice</th> -->
                  <th class="text-center col-1">Number of Questions</th>
                  <th class="text-center col-1">Answers</th>
                </tr>
            
            <% for(let count=0; count < SurveyList.length; count++) { %>
              <tr class="d-flex">
                <td class="text-center col-2"><%=SurveyList[count].Title %></td>
                <td class="text-center col-4"><%=SurveyList[count].Description %></td>
                <!--<td class="text-center col-1"><%=SurveyList[count].NumberMCQuestions %></td> -->
                <!-- <td class="text-center col-1"><%=SurveyList[count].NumberSCQuestions %></td> -->
                <td class="text-center col-1"><%=SurveyList[count].numQuestions %></td>
                <td class="text-center col-1"><%=SurveyList[count].NumberAnswers %></td>
                <td class="text-center col-1">
                  <a href="/edit/<%= SurveyList[count]._id %>" class="btn btn-primary sm">
                    <i class="fa fa-pencil"> Edit</i></a>
                </td>
                <td class="text-center col-1">
                                  <a href="/delete/<%= SurveyList[count]._id %>" class="btn btn-danger sm">
                                    <i class="fa fa-trash"> Delete</i></a>
                                </td>
                  </tr>
              

            <%}%>
                
              
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/bottom_nav.ejs') %>
    <%- include('../partials/footer.ejs') %>