<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

<body>
 
  <!-- survey list table-->
  <table class="table" id="surveyList">
    <thead>
      <tr id="surveyListHeader">
        <th scope="col">TITLE</th>
        <th scope="col">AUTHOR</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">CREATED</th>
        <th scope="col">QUESTIONS</th>
        <th id="customize">CUSTOMIZE</th>
      </tr>
    </thead>
    <tbody>
      <!-- if surveys exist, list them -->
      <% if (surveys.length === 0) { %>
        <tr>
          <td colspan="3">No surveys available.</td>
        </tr>
      <% } else { %>
        <% surveys.forEach(function(survey) { %>
          <tr>
            <td>
              <!-- hyperlink survey title to take take survey page -->
              <a href="/takeSurvey/<%= survey._id %>"><%= survey.title %></a>
            </td>
            <!-- table column info-->
            <td><%= survey.author %></td>
            <td><%= survey.description %></td>
            <td><%= survey.created %></td>
            <td class="qstnLength"><%= survey.questions.length %></td>
            <!-- edit button-->
            <td class="text-center col-1">
              <a href="/edit/<%= survey._id %>" class="btn btn-primary">
              <i class="fa-solid fa-square-poll-horizontal"> Edit</i></a>
            </td>
            <!-- delete button-->
            <td class="text-center col-1">
              <a href="/delete/<%= survey._id %>" class="btn btn-danger sm">
                <i class="fa fa-trash"> Delete</i></a>
            </td>
          </tr>
        <% }) %>
      <% } %>
        <!-- add survey button-->
        <td class="add-survey">
  <a href="/details" class="btn btn-primary">
    <i class="fa-solid fa-plus"> Add Survey</i></a>
        </td>
    </tbody>
  </table>

</body>

    <%- include('../partials/bottom_nav.ejs') %>
    <%- include('../partials/footer.ejs') %>