<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

<body>
  <h1><%= title %></h1>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Description</th>
        <th scope="col">Created</th>
        <th scope="col">Number of Questions</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if (surveys.length === 0) { %>
        <tr>
          <td colspan="3">No surveys available.</td>
        </tr>
      <% } else { %>
        <% surveys.forEach(function(survey) { %>
          <tr>
            <td>
              <a href="/takeSurvey/<%= survey._id %>"><%= survey.title %></a>
              
            </td>
            <td><%= survey.author %></td>
            <td><%= survey.description %></td>
            <td><%= survey.created %></td>
            <td><%= survey.questions.length %></td>
            <td class="text-center col-1">
              <a href="/edit/<%= survey._id %>" class="btn btn-primary">
              <i class="fa-solid fa-square-poll-horizontal"> Edit</i></a>
            </td>
            <td class="text-center col-1">
              <a href="/delete/<%= survey._id %>" class="btn btn-danger sm">
                <i class="fa fa-trash"> Delete</i></a>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>

  <a href="/create" class="btn btn-primary">
    <i class="fa-solid fa-plus"> Add Survey</i></a>
</body>



    <%- include('../partials/bottom_nav.ejs') %>
    <%- include('../partials/footer.ejs') %>