<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

<body>
  <h1><%= title %> - Results</h1>
  <% for (let i = 0; i < results.questions.length; i++) { %>
    <h3>Question <%= i + 1 %>: <%= survey.questions[i].question %></h3>
    <p>
      <% survey.questions[i].answers.forEach(answer => { %>
         <li><%= answer %></li>
       <% }); %>
      <strong>User's answer:</strong> <%= results.questions[i].answers[0] %>
    </p>
  <% } %>
</body>

<%- include('../partials/bottom_nav.ejs') %>
<%- include('../partials/footer.ejs') %>
