<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>


<body>
  <h1><%= title %></h1>
  <form method="post" action="/<%= survey._id %>/process">
<!-- print out questions and answers for each question-->
<% for(let i = 0; i < survey.questions.length; i++) { %>

    <label for="questions<%= i %>">Question <%= i + 1 %>: <%= survey.questions[i].question %></label><br />
<!-- create inputs based on the type of question-->
    
    <% if(survey.questions[i].questionType === "radio") { %>
        <% survey.questions[i].answers.forEach((answer, index) => { %>
            <input type="radio" name="questions[<%= i %>][answers]" value="<%= answer %>"> <%= answer %><br>
        <% }); %>

    <% } else if(survey.questions[i].questionType === "checkbox") { %>
        <% survey.questions[i].answers.forEach((answer, index) => { %>
            <input type="checkbox" name="questions[<%= i %>][answers][]" value="<%= answer %>"> <%= answer %><br>
        <% }); %>

    <% } else if(survey.questions[i].questionType === "text") { %>
        <textarea name="questions[<%= i %>][answer]"></textarea><br>

    <% } else if(survey.questions[i].questionType === "range") { %>
        <input type="range" name="questions[<%= i %>][answer]"><br>

    <% } else if(survey.questions[i].questionType === "image") { %>
        <!-- Handle image input - maybe a file input? -->
        <input type="file" name="questions[<%= i %>][answer]"><br>
        
    <% } %>
    <br>


<% } %>
<button type="submit">Submit test</button>
</form>
 <!-- Add a script to handle the button click and redirect to results -->
 <script>
    document.addEventListener("DOMContentLoaded", () => {
      const submitBtn = document.getElementById("submitBtn");
      
      submitBtn.addEventListener("click", () => {
        const surveyId = "<%= survey._id %>";
        window.location.href = `/results/${surveyId}`;
      });
    });
  </script>

</body>


   <%- include('../partials/bottom_nav.ejs') %>
    <%- include('../partials/footer.ejs') %>